%box{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    width: 400px;
    height: 262px;
    gap: 10px;
    padding-top: 10px;
}

%img_box{
    width: 90%;
}

%cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

%texto{
    font-family: 'roboto';
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: $colorTexto;

}