.contenido_vb{
    padding-top: 100px;
    padding-left: 5%;
    width: 99%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2 1fr) ;
    grid-template-rows: repeat(2 1fr);
    grid-template-areas:" texto1__vb       img1" 
                        " galeria_vb       galeria_vb";
                        .img1{
                            grid-area: img1;
                            display: flex;
                            justify-content: center;
                            max-width: 700px;
                            padding-right: 20px;
                            @media (max-width: 400px) {
                                width: 290px;
                                justify-content: center;
                                align-items: center;
                            }
                            
                            .img1__vb{
                                width: 100%;
                            }
                        }

                        .texto1__vb{
                            display: flex;
                            flex-direction: column;
                            grid-area: texto1__vb;
                            justify-content: center;
                            align-items: center;
                            max-width: 700px;
                            

                            .texto1__titulo{
                                @include texto__titulo(30px, roboto, $colorTitulo, wrap);
                            } 

                            .texto1__parrafo{
                                width: 80%;
                                padding-top: 20px;
                                @extend %texto;
                            }
                        }

                        @media(max-width: 900px){
                            display: grid;
                                gap: 10px;
                                grid-template-columns: repeat(2 1fr) ;
                                grid-template-rows: repeat(3 1fr);
                                grid-template-areas:" texto1__vb       texto1__vb" 
                                                    " img1             img1" 
                                                    " galeria_vb       galeria_vb";
                        }
                        .galeria_vb{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            grid-area: galeria_vb;
                            
                            .galeria_vb__texto1__cont{
                                @include texto__titulo(25px, roboto, $colorSubtitulo, wrap);
                            }
                            .cont{
                                padding-top: 30px;
                                @extend %cont;
                                padding-bottom: 30px;
                                .box1{
                                    @extend %box;
                                    @media (max-width:500px){
                                        width: 280px;
                                    }
                                    .box1__img{
                                        @extend %img_box;
                                        transition: 1s;
                                        &:hover{
                                            transform: scale(1.1);
                                        }
                                    }
                                }
                            }
                        }
}
